<div class="container">
  <div class="row">
    <h2 class="my-4", style="background-color:#dcdcdc;">会員情報編集</h2>
  </div>
  <%= form_with model: @customer, url: customers_path, method: :patch, local: true do |f| %>
  <div class="row">
    <table class="table table-borderless">
        <tr>
          <th>氏名</th>
          <td>
            (姓)<span class="title"><%= f.text_field :last_name %></span> (名)<span class="title"><%= f.text_field :first_name %></span>
          </td>
        </tr>

        <tr>
          <th>フリガナ</th>
          <td>(セイ)<%= f.text_field :last_name_kana %> (メイ)<%= f.text_field :first_name_kana %></td>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td class="form"><%= f.text_field :postal_code %></td>
        </tr>

        <tr>
          <th>住所</th>
          <td class="form"><%= f.text_field :address, style: "width: 49%;" %></td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td class="form"><%= f.text_field :telephone_number %></td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td class="form"><%= f.email_field :email, style: "width: 49%;" %></td>
        </tr>
    </table>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= f.submit "編集内容を保存", class: "btn btn-success" %>
    </div>
    <div class="col">
      <%= link_to "退会する", customers_resign_path, class: "btn btn-danger" %>
    </div>
  <% end %>
  </div>
</div>
