<div class="container">
  <div class="row">
    <h4><%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細</h4>
    <div class="col-xs-12">
      <table class="table">
        
        <tr>
          <td><strong>会員ID</strong></td>
          <td><%= @customer.id %></td>
        </tr>
        
        <tr>
          <td><strong>氏名</strong></td>
          <td><%= "#{ @customer.last_name } #{ @cutomer.first_name }" %></td>
        </tr>
        
        <tr>
          <td><strong>フリガナ</strong></td>
          <td><%= "#{ @customer.kana_last_name } #{ @customer.kana_first_name }" %></td>
        </tr>
        
        <tr>
          <td><strong>郵便番号</strong></td>
          <td><%= @customer.postal_code %></td>
        </tr>
        
        <tr>
          <td><strong>住所</strong></td>
          <td><%= @customer.address %></td>
        </tr>
        
        <tr>
          <td><strong>電話番号</strong></td>
          <td><%= @customer.phone_number %></td>
        </tr>
        
        <tr>
          <td><strong>メールアドレス</strong></td>
          <td><%= @customer.email %></td>
        </tr>
        
        <tr>
          <td><strong>会員ステータス</strong></td>
          <td>
          <% if @customer.is_active == true %>
            <p style="color: lime;">有効</p>
          <% else %>
            <p style="coler: red;">退会済み</p>
          <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
    <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary" %>
  </div>
  
</div>