<div class="container">
  
  <div class="row">
    <h4>注文履歴詳細</h4>
  </div>
  
  <div class="row">
    <div class="col-xs-8">
      <table class="table">
        
        <tr>
          <th>購入者</th>
          <td><%= link_to "#{ @order.customer.last_name } #{ @order.customer.first_name }", admin_customer_path(@order.customer.id) %></td>
        </tr>
        
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at %></td>
        </tr>
        
        <tr>
          <th>配送先</th>
          <td>〒<%= "#{ @order.postal_code } #{ @order.address}" %></td>
        </tr>
        
        <tr>
          <th>支払い方法</th>
          <td>
            <% if @order.payments == 0 %>
              クレジットカード
            <% else %>
              銀行振込
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-8"> 
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% total_price = 0 %>
          <% @order_items.each do |o| %>
          <tr>
            <td><%= o.item.name %></td>
            <td><%= o.item.price * 1.1 %></td>
            <td><%= o.amount %></td>
            <td><%= o.item.price * 1.1 * o.amount %></td>
            <% total_price = total_price + o.item.price * 1.1 * o.amount %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
        
    <div class="col-xs-4">
      <table class="table">
            
        <tr>
          <th>商品合計</th>
          <td><%= total_price %></td>
        </tr>
            
        <tr>
          <th>送料</th>
          <td><%= @order.postage %></td>
        </tr>
            
        <tr>
          <th>請求金額合計</th>
          <td><%= @order.total_price %></td>
        </tr>
      </table>
    </div>
  </div>
</div>