<div class="container">
  <div class="row">
    <h4 class="mt-4" style="background-color:#dcdcdc">ログイン</h4>
  </div>

  <div class="row">
    <h5 class="ml-3 my-3" style="background-color:#dcdcdc">会員の方はこちらからログイン</h5>
  </div>

  <div class="row">
    <div class="d-flex justify-content-center">
    <%#= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-100" }) do |f| %>
      <div class="field d-flex">
        <%#= f.label :email, "メールアドレス", class: "mr-3" %>
        <%#= f.email_field :email, autofocus: true, autocomplete: "email",class: "flex-fill" %>
      </div>

      <div class="field">
        <%#= f.label :password, "パスワード", class: "mr-5" %>
        <%#= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <%# if devise_mapping.rememberable? %>
        <div class="field">
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me %>
        </div>
      <%# end %>

      <div class="action">
        <%#= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <%# end %>
    </div>
  </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-100" }) do |f| %>
    <table class="row justify-content-center">
      <tbody>
        <tr>
          <td>
            <%= f.label :email, "メールアドレス", class: "mr-3" %>
          </td>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 400px"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :password, "パスワード", class: "mr-5" %>
          </td>
          <td>
           <%= f.password_field :password, autocomplete: "current-password", style: "width: 400px" %>
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
           <%= f.submit "ログイン", class: "btn btn-primary" %>
          </td>
        </tr>
      </tbody>
    </table>
    <%end%>


  <div class="row">
    <h5 class="ml-3 my-3" style="background-color:#dcdcdc">会員登録がお済みで無い方</h5>
  </div>
  <div class="row">
    <div class="col-7 d-flex justify-content-center">

      <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください</p>
    </div>
  </div>

</div>
<%#= render "public/shared/links" %>
